@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Metropolis";
        font-weight: 400;
        src: url("fonts/Metropolis-Regular.otf");
    }

    @font-face {
        font-family: "Metropolis";
        font-weight: 700;
        src: url("fonts/Metropolis-Bold.otf");
    }
}