@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Metropolis';
    src: url('@/fonts/Metropolis-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}